<div class="ui small comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author"><%= @user %></a>
      <div class="metadata">
      </div>
      <div class="text">
        <%= POST ID ALONG WITH COMMENT ID%>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src= THIS SHOULD BE THE USERS AVATAR>
    </a>
    <div class="content">
      <a class="author"><%= @user %></a>
      <div class="metadata">
      </div>
      <div class="text">
        <%= POST ID ALONG WITH COMMENT ID%>
      </div>
      <div class="actions">