<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
    <div class="field">
      <%= form_for [@movie, @comment] do |f| %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <br />
      <%= f.submit %>
      <% end %>
    </div>
</div>
