<div class="ui secondary  menu">
 
  <a href="/movies"><img class="ui small image" src="/logo.png" id="logo"></a>
  

  <div class="right menu">
  <a class="active item" href="/movies">
    Movies
  </a>
    <a href="users/sign_out" class="item" data-method="delete">
      Logout
    </a>
  </div>
</div>