<h2>Welcome <%= current_user.first_name %> </h2>

<%= button_to 'Log Out', destroy_user_session_path, method: :delete %>



<div class="video_border">
<div class="video">
<video autoplay loop id="video_background" muted plays-inline>
<source src="us.mp4" type="video/mp4">
  </video>
  </div>
</div>

